.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
}

.logo {
  width: 100px;

}

.nav-items > ul{
    display: flex;
}

.nav-items>ul>li{
    padding: 10px;
    margin:10px;
    font-size: 24;
    list-style: none;
    cursor: pointer;

}